In [1]:
# launch sql magic and connect with datathon database in MySQL
%reload_ext sql
%sql mysql://root:TYJtyj120397@localhost/datathon

In [100]:
import pandas as pd
import numpy as np

#read csv file into a dataframe called all_data
all_data=pd.read_csv("Rotman MMA Summer Datathon NWHL.csv") 

# create a table of my_data in MySQL database 
%sql DROP TABLE all_data
%sql --persist all_data

UsageError: Line magic function `%sql` not found.

In [101]:
# overview of number of teams in the competition
teams=all_data['Team'].value_counts()
teams

Boston Pride             6602
Toronto Six              5702
Buffalo Beauts           4965
Connecticut Whale        3642
Minnesota Whitecaps      3274
Metropolitan Riveters    2697
Name: Team, dtype: int64

In [102]:
#Create a table all_players summarizing each player's participation in interested events
goal=all_data[all_data['Event']=='Goal'].groupby('Player').count()[['Event']]
goal.columns=['goals']
goal.reset_index(inplace=True)

shot=all_data[all_data['Event']=='Shot'].groupby('Player').count()[['Event']]
shot.columns=['shots']
shot.reset_index(inplace=True)

play=all_data[all_data['Event']=='Play'].groupby('Player').count()[['Event']]
play.columns=['plays']
play.reset_index(inplace=True)

incomplete_play=all_data[all_data['Event']=='Incomplete Play'].groupby('Player').count()[['Event']]
incomplete_play.columns=['incomplete_plays']
incomplete_play.reset_index(inplace=True)

faceoff_win=all_data[all_data['Event']=='Faceoff Win'].groupby('Player').count()[['Event']]
faceoff_win.columns=['faceoff_wins']
faceoff_win.reset_index(inplace=True)

takeaway=all_data[all_data['Event']=='Takeaway'].groupby('Player').count()[['Event']]
takeaway.columns=['takeaways']
takeaway.reset_index(inplace=True)

puck_recovery=all_data[all_data['Event']=='Puck Recovery'].groupby('Player').count()[['Event']]
puck_recovery.columns=['puck_recovery']
puck_recovery.reset_index(inplace=True)

penalty_taken=all_data[all_data['Event']=='Penalty Taken'].groupby('Player').count()[['Event']]
penalty_taken.columns=['penalty_taken']
penalty_taken.reset_index(inplace=True)

df=all_data[all_data['Event']=='Penalty Taken']['Player 2'].to_frame()
penalty_draw=df.value_counts().to_frame(name='penalty_draw')
penalty_draw.index.rename('Player', inplace=True)
penalty_draw.reset_index(inplace=True)

# concatenate all DataFrames
from functools import reduce

#define list of DataFrames
dfs = [goal, shot, play, incomplete_play, faceoff_win, takeaway, puck_recovery, penalty_taken, penalty_draw]

#merge all DataFrames into one
all_player= reduce(lambda  left,right: pd.merge(left,right,on=['Player'],
                                            how='outer'), dfs)

# add goal_rate and shot rate to each player
all_player['goal_rate']=all_player['goals']/(all_player['goals']+all_player['shots'])*100
all_player['play_rate']=all_player['plays']/(all_player['plays']+all_player['incomplete_plays'])*100
all_player=all_player.replace(np.NAN,0)

all_player.head(10)

,Player,goals,shots,plays,incomplete_plays,faceoff_wins,takeaways,puck_recovery,penalty_taken,penalty_draw,goal_rate,play_rate
0,Alyssa Wohlfeiler,1.0,24.0,87,27.0,0.0,8.0,52,3.0,1.0,4.000000,76.315789
1,Amanda Conway,1.0,10.0,18,17.0,0.0,3.0,24,0.0,0.0,9.090909,51.428571
2,Amy Curlew,1.0,9.0,39,9.0,4.0,4.0,32,2.0,4.0,10.000000,81.250000
3,Audra Richards,2.0,14.0,27,26.0,2.0,5.0,51,1.0,3.0,12.500000,50.943396
4,Autumn MacDougall,3.0,18.0,71,48.0,0.0,7.0,77,0.0,4.0,14.285714,59.663866
5,Breanne Wilson-Bennett,2.0,31.0,95,35.0,45.0,25.0,107,1.0,9.0,6.060606,73.076923
6,Brooke Boquist,2.0,27.0,71,31.0,2.0,3.0,48,2.0,2.0,6.896552,69.607843
7,Cailey Hutchison,1.0,4.0,15,13.0,18.0,8.0,21,1.0,2.0,20.000000,53.571429
8,Christina Putigna,2.0,37.0,98,47.0,3.0,14.0,102,1.0,2.0,5.128205,67.586207
9,Emily Fluke,1.0,11.0,34,17.0,4.0,8.0,44,2.0,3.0,8.333333,66.666667

In [103]:
# Game_Score= goals + x1play + x2shot + x3faceoff win + x4takeaway - x5penalty taken + X5penalty draw +X6puck_recovery
# find coefficients X1, X2, X3, X4, X5

# X1= total goals/ (total play+incomplete play)
X1=sum(all_player['goals'])/(sum(all_player['plays'])+sum(all_player['incomplete_plays']))

# X2= total goals/ total (shots+goals)
X2=sum(all_player['goals'])/(sum(all_player['shots'])+sum(all_player['goals']))

# X3= total gaols / total faceoff win
X3=sum(all_player['goals'])/sum(all_player['faceoff_wins'])

# X4= total goals/ total takeaway
X4=sum(all_player['goals'])/sum(all_player['takeaways'])

# X5= powerplay goals/panalty taken 
Home_power=all_data[all_data['Home Team Skaters']>5]
Away_power=all_data[all_data['Away Team Skaters']>5]
Away_power[Away_power['Event']=='Goal']
Home_power[Home_power['Event']=='Goal']
X5=2/sum(all_player['penalty_taken'])

#X6= total goals/total puck_recovery
X6=sum(all_player['goals'])/sum(all_player['puck_recovery'])

print('coefficients for game_score is:\n','X1=',X1, '\n','X2=',X2,'\n','X3=',X3, '\n','X4=',X4, '\n','X5=',X5, '\n','X6=',X6)

coefficients for game_score is:
 X1= 0.007116771233261541
 X2= 0.03828715365239295
 X3= 0.08983451536643026
 X4= 0.06296603148301574
 X5= 0.013888888888888888
 X6= 0.009252495738982226

In [104]:
# Create a function Game_Score= goals + x1plays + x2shots + x3faceoff_wins + x4takeaways - x5penalty_taken +x5pnalty_draw + x6puck_recovery
def Game_score(series):
    goals=series['goals']
    plays=series['plays']
    shots=series['shots']
    faceoff_wins=series['faceoff_wins']
    takeaways=series['takeaways']
    penalty_taken=series['penalty_taken']
    penalty_draw=series['penalty_draw']
    puck_recovery=series['puck_recovery']
    Game_Score= goals + X1*plays + X2*shots + X3*faceoff_wins + X4*takeaways - X5*penalty_taken + X5*penalty_draw + X6*puck_recovery
    return Game_Score

In [105]:
#apply game_score function to each players 
score=all_player.apply(Game_score, axis=1)
Player_score=score.to_frame(name='game_score')

In [106]:
# add score columns to all_player list
all_player_by_score= pd.concat([Player_score, all_player], axis=1)

# sort players according to score in descending order
all_player_by_score.sort_values('game_score', ascending=False, inplace=True)

In [107]:
# Calculaye Play_Score= plays + a1goal + a2incomplete_play + a3faceoff win + a4takeaway - a5penalty taken + a5penalty draw + a6puck_recovery
# find coefficients
# a1= play/ (total play+incomplete play)
a1=sum(all_player['plays'])/(sum(all_player['plays'])+sum(all_player['incomplete_plays']))

# a2= play/ total (shots+goals)
a2=sum(all_player['plays'])/(sum(all_player['shots'])+sum(all_player['goals']))

# a3= play / total faceoff win
a3=sum(all_player['plays'])/sum(all_player['faceoff_wins'])

# a4= play/ total takeaway
a4=sum(all_player['plays'])/sum(all_player['takeaways'])

# a5= powerplay play/panalty taken 
Home_power=all_data[all_data['Home Team Skaters']>5]
Away_power=all_data[all_data['Away Team Skaters']>5]
x=Away_power[Away_power['Event']=='Play'].shape[0]
y=Home_power[Home_power['Event']=='Play'].shape[0]
a5=(x+y)/sum(all_player['penalty_taken'])

# a6= play/total puck_recovery 
a6=sum(all_player['plays'])/sum(all_player['puck_recovery'])

print('coefficients for play_score is:\n','a1=',a1, '\n','a2=',a2,'\n','a3=',a3, '\n','a4=',a4, '\n','a5=',a5, '\n','a6=',a6)

coefficients for play_score is:
 a1= 0.6788088772356963
 a2= 3.651889168765743
 a3= 8.56855791962175
 a4= 6.005799502899752
 a5= 0.3888888888888889
 a6= 0.882517652787923

In [108]:
# Create a function Play_Score= plays + a1goal + a2incomplete_play + a3faceoff win + a4takeaway - a5penalty taken + a5penalty draw
# find coefficients
def Play_Score(series):
    goals=series['goals']
    plays=series['plays']
    incomplete_plays=series['incomplete_plays']
    shots=series['shots']
    faceoff_wins=series['faceoff_wins']
    takeaways=series['takeaways']
    penalty_taken=series['penalty_taken']
    penalty_draw=series['penalty_draw']
    puck_recovery=series['puck_recovery']
    Play_Score= plays + a1*goals + a2*incomplete_plays + a3*faceoff_wins + a4*takeaways - a5*penalty_taken + a5*penalty_draw +a6*puck_recovery
    return Play_Score

In [109]:
#apply play_score function to each players 
pscore=all_player.apply(Play_Score, axis=1)
Pscore=pscore.to_frame(name='play_score')

# add score columns to all_player list
all_player_by_scores= pd.concat([Pscore, all_player_by_score], axis=1)

# sort players according to score in descending order
all_player_by_scores.sort_values('game_score', ascending=False, inplace=True)
all_player_by_scores.head(10)

,play_score,game_score,Player,goals,shots,plays,incomplete_plays,faceoff_wins,takeaways,puck_recovery,penalty_taken,penalty_draw,goal_rate,play_rate
14,1009.750129,12.855860,Jillian Dempsey,3.0,24.0,80,36.0,70.0,22.0,72,0.0,2.0,11.111111,68.965517
104,1321.609026,12.254623,Shiann Darkangelo,0.0,36.0,154,63.0,79.0,23.0,141,5.0,0.0,0.000000,70.967742
34,633.840093,11.421513,Mikyla Grant-Mentis,5.0,49.0,104,44.0,19.0,19.0,102,3.0,0.0,9.259259,70.270270
5,857.444333,10.580827,Breanne Wilson-Bennett,2.0,31.0,95,35.0,45.0,25.0,107,1.0,9.0,6.060606,73.076923
41,582.194369,9.364107,Taylor Woods,4.0,42.0,157,46.0,2.0,14.0,175,5.0,2.0,8.695652,77.339901
16,860.267347,9.268256,Jordan Juron,1.0,29.0,76,42.0,49.0,21.0,95,0.0,1.0,3.333333,64.406780
23,882.730183,9.124257,Lexie Laing,1.0,23.0,75,46.0,55.0,17.0,74,1.0,2.0,4.166667,61.983471
109,906.116547,8.814335,Tereza Vanisova,0.0,30.0,138,35.0,51.0,17.0,116,5.0,2.0,0.000000,79.768786
37,547.079222,8.799914,Samantha Davis,4.0,34.0,119,48.0,5.0,18.0,111,1.0,4.0,10.526316,71.257485
28,790.451721,8.724921,Mallory Souliotis,3.0,32.0,175,84.0,0.0,22.0,196,0.0,4.0,8.571429,67.567568

In [110]:
all_player_by_scores.sort_values('play_score', ascending=False, inplace=True)
all_player_by_scores.head(10)

,play_score,game_score,Player,goals,shots,plays,incomplete_plays,faceoff_wins,takeaways,puck_recovery,penalty_taken,penalty_draw,goal_rate,play_rate
104,1321.609026,12.254623,Shiann Darkangelo,0.0,36.0,154,63.0,79.0,23.0,141,5.0,0.0,0.000000,70.967742
14,1009.750129,12.855860,Jillian Dempsey,3.0,24.0,80,36.0,70.0,22.0,72,0.0,2.0,11.111111,68.965517
109,906.116547,8.814335,Tereza Vanisova,0.0,30.0,138,35.0,51.0,17.0,116,5.0,2.0,0.000000,79.768786
23,882.730183,9.124257,Lexie Laing,1.0,23.0,75,46.0,55.0,17.0,74,1.0,2.0,4.166667,61.983471
69,870.444986,6.194440,Kaleigh Fratkin,0.0,36.0,242,90.0,0.0,16.0,233,5.0,0.0,0.000000,72.891566
16,860.267347,9.268256,Jordan Juron,1.0,29.0,76,42.0,49.0,21.0,95,0.0,1.0,3.333333,64.406780
5,857.444333,10.580827,Breanne Wilson-Bennett,2.0,31.0,95,35.0,45.0,25.0,107,1.0,9.0,6.060606,73.076923
28,790.451721,8.724921,Mallory Souliotis,3.0,32.0,175,84.0,0.0,22.0,196,0.0,4.0,8.571429,67.567568
53,755.988382,6.842410,Cassidy MacPherson,0.0,19.0,83,40.0,38.0,20.0,92,0.0,0.0,0.000000,67.479675
21,691.443568,7.397153,Lauren Kelly,2.0,42.0,142,77.0,0.0,19.0,174,3.0,1.0,4.545455,64.840183

In [111]:
all_player_by_scores.sort_values('faceoff_wins', ascending=False, inplace=True)
all_player_by_scores.head(10)

,play_score,game_score,Player,goals,shots,plays,incomplete_plays,faceoff_wins,takeaways,puck_recovery,penalty_taken,penalty_draw,goal_rate,play_rate
104,1321.609026,12.254623,Shiann Darkangelo,0.0,36.0,154,63.0,79.0,23.0,141,5.0,0.0,0.000000,70.967742
14,1009.750129,12.855860,Jillian Dempsey,3.0,24.0,80,36.0,70.0,22.0,72,0.0,2.0,11.111111,68.965517
23,882.730183,9.124257,Lexie Laing,1.0,23.0,75,46.0,55.0,17.0,74,1.0,2.0,4.166667,61.983471
109,906.116547,8.814335,Tereza Vanisova,0.0,30.0,138,35.0,51.0,17.0,116,5.0,2.0,0.000000,79.768786
16,860.267347,9.268256,Jordan Juron,1.0,29.0,76,42.0,49.0,21.0,95,0.0,1.0,3.333333,64.406780
11,651.391165,7.358880,Emma Vlasic,1.0,15.0,58,22.0,45.0,12.0,62,1.0,1.0,6.250000,72.500000
5,857.444333,10.580827,Breanne Wilson-Bennett,2.0,31.0,95,35.0,45.0,25.0,107,1.0,9.0,6.060606,73.076923
53,755.988382,6.842410,Cassidy MacPherson,0.0,19.0,83,40.0,38.0,20.0,92,0.0,0.0,0.000000,67.479675
105,672.389792,6.387109,Stephanie Anderson,0.0,18.0,69,30.0,38.0,19.0,60,0.0,3.0,0.000000,69.696970
52,551.604109,5.639286,Carlee Turner,0.0,23.0,57,22.0,32.0,14.0,63,1.0,2.0,0.000000,72.151899

In [112]:
all_player_by_scores.sort_values('takeaways', ascending=False, inplace=True)
all_player_by_scores.head(10)

,play_score,game_score,Player,goals,shots,plays,incomplete_plays,faceoff_wins,takeaways,puck_recovery,penalty_taken,penalty_draw,goal_rate,play_rate
55,602.846234,4.369115,Dominique Kremer,0.0,16.0,99,58.0,0.0,29.0,134,2.0,1.0,0.000000,63.057325
48,608.495346,4.965981,Alyson Matteau,0.0,23.0,130,49.0,0.0,28.0,148,1.0,3.0,0.000000,72.625698
5,857.444333,10.580827,Breanne Wilson-Bennett,2.0,31.0,95,35.0,45.0,25.0,107,1.0,9.0,6.060606,73.076923
85,600.306263,4.512550,Marie-Jo Pelletier,0.0,19.0,131,54.0,0.0,24.0,145,0.0,0.0,0.000000,70.810811
89,529.848907,5.126062,Natalie Marcuzzi,0.0,31.0,65,37.0,13.0,23.0,90,1.0,3.0,0.000000,63.725490
104,1321.609026,12.254623,Shiann Darkangelo,0.0,36.0,154,63.0,79.0,23.0,141,5.0,0.0,0.000000,70.967742
28,790.451721,8.724921,Mallory Souliotis,3.0,32.0,175,84.0,0.0,22.0,196,0.0,4.0,8.571429,67.567568
14,1009.750129,12.855860,Jillian Dempsey,3.0,24.0,80,36.0,70.0,22.0,72,0.0,2.0,11.111111,68.965517
39,528.551503,5.496480,Sydney Baldwin,1.0,32.0,112,49.0,0.0,21.0,126,2.0,1.0,3.030303,69.565217
16,860.267347,9.268256,Jordan Juron,1.0,29.0,76,42.0,49.0,21.0,95,0.0,1.0,3.333333,64.406780

In [113]:
all_player_by_scores.to_csv(r'C:\Users\NICOLE\OneDrive\Desktop\Datathon\all_player_by_scores.csv')

We choose: Jillian Dempsey, Shiann Darkangelo, Breanne Wilson-Bennett, Jordan Juron, & Lexie Laing

Note that since these 5 players are from different teams, we can't investigate their familiarity with each other (i.e. a player won't pass the play to her opponent in another team). So we can't achieve the goal: 'It would be especially beneficial if the passers were familiar with the shooting specialists'

Let's do the same procudure and choose 5 top players from only team Toronto Six. This way, we can compare their familiarity with each other.

In [115]:
# Filter observations of Toronto Six
Toronto_6_data = all_data[all_data['Team']=='Toronto Six']
Toronto_6_data

,game_date,Home Team,Away Team,Period,Clock,Home Team Skaters,Away Team Skaters,Home Team Goals,Away Team Goals,Team,...,Event,X Coordinate,Y Coordinate,Detail 1,Detail 2,Detail 3,Detail 4,Player 2,X Coordinate 2,Y Coordinate 2
3646,2021-01-23,Metropolitan Riveters,Toronto Six,1,20:00,5,5,0,0,Toronto Six,...,Faceoff Win,100,43,Backhand,NaN,NaN,NaN,Emily Janiga,NaN,NaN
3647,2021-01-23,Metropolitan Riveters,Toronto Six,1,19:59,5,5,0,0,Toronto Six,...,Puck Recovery,81,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3648,2021-01-23,Metropolitan Riveters,Toronto Six,1,19:56,5,5,0,0,Toronto Six,...,Dump In/Out,101,1,Lost,NaN,NaN,NaN,NaN,NaN,NaN
3649,2021-01-23,Metropolitan Riveters,Toronto Six,1,19:56,5,5,0,0,Toronto Six,...,Zone Entry,101,1,Dumped,NaN,NaN,NaN,Kiira Dosdall,NaN,NaN
3655,2021-01-23,Metropolitan Riveters,Toronto Six,1,19:45,5,5,0,0,Toronto Six,...,Puck Recovery,96,69,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25116,2021-01-31,Toronto Six,Connecticut Whale,3,0:37,4,5,6,0,Toronto Six,...,Puck Recovery,7,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25117,2021-01-31,Toronto Six,Connecticut Whale,3,0:34,4,5,6,0,Toronto Six,...,Puck Recovery,7,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25120,2021-01-31,Toronto Six,Connecticut Whale,3,0:27,5,5,6,0,Toronto Six,...,Puck Recovery,10,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25121,2021-01-31,Toronto Six,Connecticut Whale,3,0:27,5,5,6,0,Toronto Six,...,Incomplete Play,10,32,Direct,NaN,NaN,NaN,Breanne Wilson-Bennett,45.0,35.0
25133,2021-01-31,Toronto Six,Connecticut Whale,3,0:08,5,5,6,0,Toronto Six,...,Puck Recovery,25,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [116]:
#Create a table toronto_players summarizing each player's participation in interested events
goal_6=Toronto_6_data[Toronto_6_data['Event']=='Goal'].groupby('Player').count()[['Event']]
goal_6.columns=['goals']
goal_6.reset_index(inplace=True)

shot_6=Toronto_6_data[Toronto_6_data['Event']=='Shot'].groupby('Player').count()[['Event']]
shot_6.columns=['shots']
shot_6.reset_index(inplace=True)

play_6=Toronto_6_data[Toronto_6_data['Event']=='Play'].groupby('Player').count()[['Event']]
play_6.columns=['plays']
play_6.reset_index(inplace=True)

incomplete_play_6=Toronto_6_data[Toronto_6_data['Event']=='Incomplete Play'].groupby('Player').count()[['Event']]
incomplete_play_6.columns=['incomplete_plays']
incomplete_play_6.reset_index(inplace=True)

faceoff_win_6=Toronto_6_data[Toronto_6_data['Event']=='Faceoff Win'].groupby('Player').count()[['Event']]
faceoff_win_6.columns=['faceoff_wins']
faceoff_win_6.reset_index(inplace=True)

takeaway_6=Toronto_6_data[Toronto_6_data['Event']=='Takeaway'].groupby('Player').count()[['Event']]
takeaway_6.columns=['takeaways']
takeaway_6.reset_index(inplace=True)

puck_recovery_6=Toronto_6_data[Toronto_6_data['Event']=='Puck Recovery'].groupby('Player').count()[['Event']]
puck_recovery_6.columns=['puck_recovery']
puck_recovery_6.reset_index(inplace=True)

penalty_taken_6=Toronto_6_data[Toronto_6_data['Event']=='Penalty Taken'].groupby('Player').count()[['Event']]
penalty_taken_6.columns=['penalty_taken']
penalty_taken_6.reset_index(inplace=True)

df_6=Toronto_6_data[Toronto_6_data['Event']=='Penalty Taken']['Player 2'].to_frame()
penalty_draw_6=df_6.value_counts().to_frame(name='penalty_draw')
penalty_draw_6.index.rename('Player', inplace=True)
penalty_draw_6.reset_index(inplace=True)

# concatenate all DataFrames
from functools import reduce

#define list of DataFrames
dfs_6 = [goal_6, shot_6, play_6, incomplete_play_6, faceoff_win_6, takeaway_6, puck_recovery_6, penalty_taken_6, penalty_draw_6]

#merge all DataFrames into one
all_player_6= reduce(lambda  left,right: pd.merge(left,right,on=['Player'],
                                            how='outer'), dfs_6)

# add goal_rate and shot rate to each player
all_player_6['goal_rate']=all_player_6['goals']/(all_player_6['goals']+all_player_6['shots'])*100
all_player_6['play_rate']=all_player_6['plays']/(all_player_6['plays']+all_player_6['incomplete_plays'])*100
all_player_6=all_player_6.replace(np.NAN,0)

all_player_6.head(10)

,Player,goals,shots,plays,incomplete_plays,faceoff_wins,takeaways,puck_recovery,penalty_taken,penalty_draw,goal_rate,play_rate
0,Amy Curlew,1.0,9.0,39.0,9.0,4.0,4.0,32.0,2.0,0.0,10.000000,81.250000
1,Breanne Wilson-Bennett,2.0,31.0,95.0,35.0,45.0,25.0,107.0,1.0,0.0,6.060606,73.076923
2,Brooke Boquist,2.0,27.0,71.0,31.0,2.0,3.0,48.0,2.0,0.0,6.896552,69.607843
3,Emily Fluke,1.0,11.0,34.0,17.0,4.0,8.0,44.0,2.0,0.0,8.333333,66.666667
4,Lindsay Eastwood,1.0,36.0,150.0,70.0,0.0,17.0,152.0,2.0,0.0,2.702703,68.181818
5,Mackenzie MacNeil,2.0,26.0,47.0,32.0,1.0,15.0,78.0,0.0,0.0,7.142857,59.493671
6,Megan Quinn,1.0,15.0,107.0,46.0,0.0,11.0,137.0,2.0,0.0,6.250000,69.934641
7,Mikyla Grant-Mentis,5.0,49.0,104.0,44.0,19.0,19.0,102.0,3.0,0.0,9.259259,70.270270
8,Sarah-Eve Coutu Godbout,1.0,42.0,56.0,38.0,2.0,13.0,70.0,1.0,0.0,2.325581,59.574468
9,Taylor Woods,4.0,42.0,157.0,46.0,2.0,14.0,175.0,5.0,0.0,8.695652,77.339901

In [117]:
# Game_Score= goals + x1play + x2shot + x3faceoff win + x4takeaway - x5penalty taken + X5penalty draw +X6puck_recovery
# find coefficients X1, X2, X3, X4, X5

# X1= total goals/ (total play+incomplete play)
X1_6=sum(all_player_6['goals'])/(sum(all_player_6['plays'])+sum(all_player_6['incomplete_plays']))

# X2= total goals/ total (shots+goals)
X2_6=sum(all_player_6['goals'])/(sum(all_player_6['shots'])+sum(all_player_6['goals']))

# X3= total gaols / total faceoff win
X3_6=sum(all_player_6['goals'])/sum(all_player_6['faceoff_wins'])

# X4= total goals/ total takeaway
X4_6=sum(all_player_6['goals'])/sum(all_player_6['takeaways'])

# X5= powerplay goals/panalty taken 
Home_power_6=Toronto_6_data[Toronto_6_data['Home Team Skaters']>5]
Away_power_6=Toronto_6_data[Toronto_6_data['Away Team Skaters']>5]
z1 = Away_power_6[Away_power_6['Event']=='Goal'].shape[0]
z2 = Home_power_6[Home_power_6['Event']=='Goal'].shape[0]
X5_6=(z1 + z2)/sum(all_player_6['penalty_taken'])

#X6= total goals/total puck_recovery
X6_6=sum(all_player_6['goals'])/sum(all_player_6['puck_recovery'])

print('coefficients for game_score is:\n','X1_6=',X1_6, '\n','X2_6=',X2_6,'\n','X3_6=',X3_6, '\n','X4_6=',X4_6, '\n','X5_6=',X5_6, '\n','X6_6=',X6_6)

coefficients for game_score is:
 X1_6= 0.00911854103343465
 X2_6= 0.0455531453362256
 X3_6= 0.1076923076923077
 X4_6= 0.08677685950413223
 X5_6= 0.03125
 X6_6= 0.01242603550295858

In [118]:
# Create a function Game_Score= goals + x1_6*plays + x2_6*shots + x3_6*faceoff_wins + x4_6*takeaways - x5_6*penalty_taken +x5_6*pnalty_draw + x6_6*puck_recovery
def Game_score_6(series):
    goals=series['goals']
    plays=series['plays']
    shots=series['shots']
    faceoff_wins=series['faceoff_wins']
    takeaways=series['takeaways']
    penalty_taken=series['penalty_taken']
    penalty_draw=series['penalty_draw']
    puck_recovery=series['puck_recovery']
    Game_Score= goals + X1_6*plays + X2_6*shots + X3_6*faceoff_wins + X4_6*takeaways - X5_6*penalty_taken + X5_6*penalty_draw + X6_6*puck_recovery
    return Game_Score

In [119]:
#apply game_score function to each players in Toronto Six
score_6=all_player_6.apply(Game_score_6, axis=1)
Player_score_6=score_6.to_frame(name='game_score_6')

In [120]:
# add score_6 columns to all_player_6 list
all_player_by_score_6= pd.concat([Player_score_6, all_player_6], axis=1)

# sort players according to score in descending order
all_player_by_score_6.sort_values('game_score_6', ascending=False, inplace=True)

In [121]:
all_player_by_score_6.head(10)

,game_score_6,Player,goals,shots,plays,incomplete_plays,faceoff_wins,takeaways,puck_recovery,penalty_taken,penalty_draw,goal_rate,play_rate
17,15.143550,Shiann Darkangelo,0.0,36.0,154.0,63.0,79.0,23.0,141.0,5.0,0.0,0.000000,70.967742
7,13.049052,Mikyla Grant-Mentis,5.0,49.0,104.0,44.0,19.0,19.0,102.0,3.0,0.0,9.259259,70.270270
1,12.592320,Breanne Wilson-Bennett,2.0,31.0,95.0,35.0,45.0,25.0,107.0,1.0,0.0,6.060606,73.076923
9,10.793410,Taylor Woods,4.0,42.0,157.0,46.0,2.0,14.0,175.0,5.0,0.0,8.695652,77.339901
4,7.309158,Lindsay Eastwood,1.0,36.0,150.0,70.0,0.0,17.0,152.0,2.0,0.0,2.702703,68.181818
15,6.487814,Natalie Marcuzzi,0.0,31.0,65.0,37.0,13.0,23.0,90.0,1.0,0.0,0.000000,63.725490
10,6.065463,Taytum Clairmont,1.0,13.0,82.0,27.0,18.0,11.0,67.0,0.0,0.0,7.142857,75.229358
5,5.991529,Mackenzie MacNeil,2.0,26.0,47.0,32.0,1.0,15.0,78.0,0.0,0.0,7.142857,59.493671
8,5.605927,Sarah-Eve Coutu Godbout,1.0,42.0,56.0,38.0,2.0,13.0,70.0,1.0,0.0,2.325581,59.574468
6,5.253393,Megan Quinn,1.0,15.0,107.0,46.0,0.0,11.0,137.0,2.0,0.0,6.250000,69.934641

In [122]:
# Calculaye Play_Score_6= plays + a1_6*goal + a2_6*incomplete_play + a3_6*faceoff win + a4_6*takeaway - a5_6*penalty taken + a5_6*penalty draw + a6_6*puck_recovery
# find coefficients
# a1_6= play/ (total play+incomplete play)
a1_6=sum(all_player_6['plays'])/(sum(all_player_6['plays'])+sum(all_player_6['incomplete_plays']))

# a2= play/ total (shots+goals)
a2_6=sum(all_player_6['plays'])/(sum(all_player_6['shots'])+sum(all_player_6['goals']))

# a3= play / total faceoff win
a3_6=sum(all_player_6['plays'])/sum(all_player_6['faceoff_wins'])

# a4= play/ total takeaway
a4_6=sum(all_player_6['plays'])/sum(all_player_6['takeaways'])

# a5= powerplay play/panalty taken 
Home_power_6=Toronto_6_data[Toronto_6_data['Home Team Skaters']>5]
Away_power_6=Toronto_6_data[Toronto_6_data['Away Team Skaters']>5]
x_6=Away_power_6[Away_power_6['Event']=='Play'].shape[0]
y_6=Home_power_6[Home_power_6['Event']=='Play'].shape[0]
a5_6=(x_6+y_6)/sum(all_player_6['penalty_taken'])

# a6= play/total puck_recovery 
a6_6=sum(all_player_6['plays'])/sum(all_player_6['puck_recovery'])

print('coefficients for play_score is:\n','a1_6=',a1_6, '\n','a2_6=',a2_6,'\n','a3_6=',a3_6, '\n','a4_6=',a4_6, '\n','a5_6=',a5_6, '\n','a6_6=',a6_6)

coefficients for play_score is:
 a1_6= 0.7038645245332176
 a2_6= 3.5162689804772236
 a3_6= 8.312820512820513
 a4_6= 6.698347107438017
 a5_6= 0.71875
 a6_6= 0.9591715976331361

In [123]:
# Create a function Play_Score= plays + a1_6*goal + a2_6*incomplete_play + a3_6*faceoff win + a4_6*takeaway - a5_6*penalty taken + a5_6*penalty draw
# find coefficients
def Play_Score_6(series):
    goals=series['goals']
    plays=series['plays']
    incomplete_plays=series['incomplete_plays']
    shots=series['shots']
    faceoff_wins=series['faceoff_wins']
    takeaways=series['takeaways']
    penalty_taken=series['penalty_taken']
    penalty_draw=series['penalty_draw']
    puck_recovery=series['puck_recovery']
    Play_Score= plays + a1_6*goals + a2_6*incomplete_plays + a3_6*faceoff_wins + a4_6*takeaways - a5_6*penalty_taken + a5_6*penalty_draw +a6_6*puck_recovery
    return Play_Score

In [124]:
#apply play_score_6 function to each players in Toronto Six
pscore_6=all_player_6.apply(Play_Score_6, axis=1)
Pscore_6=pscore_6.to_frame(name='play_score_6')

# add score columns to all_player list
all_player_by_score_6= pd.concat([Pscore_6, all_player_by_score_6], axis=1)

# sort players according to score in descending order
all_player_by_score_6.sort_values('play_score_6', ascending=False, inplace=True)
all_player_by_score_6.head(10)

,play_score_6,game_score_6,Player,goals,shots,plays,incomplete_plays,faceoff_wins,takeaways,puck_recovery,penalty_taken,penalty_draw,goal_rate,play_rate
17,1317.949195,15.143550,Shiann Darkangelo,0.0,36.0,154.0,63.0,79.0,23.0,141.0,5.0,0.0,0.000000,70.967742
1,862.925355,12.592320,Breanne Wilson-Bennett,2.0,31.0,95.0,35.0,45.0,25.0,107.0,1.0,0.0,6.060606,73.076923
4,655.071177,7.309158,Lindsay Eastwood,1.0,36.0,150.0,70.0,0.0,17.0,152.0,2.0,0.0,2.702703,68.181818
7,643.126596,13.049052,Mikyla Grant-Mentis,5.0,49.0,104.0,44.0,19.0,19.0,102.0,3.0,0.0,9.259259,70.270270
9,596.227611,10.793410,Taylor Woods,4.0,42.0,157.0,46.0,2.0,14.0,175.0,5.0,0.0,8.695652,77.339901
16,559.601057,4.890499,Sarah Steele,0.0,17.0,158.0,55.0,0.0,11.0,141.0,1.0,0.0,0.000000,74.178404
15,542.837296,6.487814,Natalie Marcuzzi,0.0,31.0,65.0,37.0,13.0,23.0,90.0,1.0,0.0,0.000000,63.725490
11,479.022306,3.991568,Emma Greco,0.0,17.0,67.0,59.0,0.0,14.0,117.0,2.0,0.0,0.000000,53.174603
6,473.103065,5.253393,Megan Quinn,1.0,15.0,107.0,46.0,0.0,11.0,137.0,2.0,0.0,6.250000,69.934641
10,465.220211,6.065463,Taytum Clairmont,1.0,13.0,82.0,27.0,18.0,11.0,67.0,0.0,0.0,7.142857,75.229358

In [125]:
# Look at faceoff top players
all_player_by_score_6.sort_values('faceoff_wins', ascending=False, inplace=True)
all_player_by_score_6.head(10)

,play_score_6,game_score_6,Player,goals,shots,plays,incomplete_plays,faceoff_wins,takeaways,puck_recovery,penalty_taken,penalty_draw,goal_rate,play_rate
17,1317.949195,15.143550,Shiann Darkangelo,0.0,36.0,154.0,63.0,79.0,23.0,141.0,5.0,0.0,0.000000,70.967742
1,862.925355,12.592320,Breanne Wilson-Bennett,2.0,31.0,95.0,35.0,45.0,25.0,107.0,1.0,0.0,6.060606,73.076923
7,643.126596,13.049052,Mikyla Grant-Mentis,5.0,49.0,104.0,44.0,19.0,19.0,102.0,3.0,0.0,9.259259,70.270270
10,465.220211,6.065463,Taytum Clairmont,1.0,13.0,82.0,27.0,18.0,11.0,67.0,0.0,0.0,7.142857,75.229358
15,542.837296,6.487814,Natalie Marcuzzi,0.0,31.0,65.0,37.0,13.0,23.0,90.0,1.0,0.0,0.000000,63.725490
13,248.441765,2.277508,Julie Allen,0.0,3.0,32.0,20.0,6.0,10.0,32.0,2.0,0.0,0.000000,61.538462
3,222.084546,3.420345,Emily Fluke,1.0,11.0,34.0,17.0,4.0,8.0,44.0,2.0,0.0,8.333333,66.666667
0,160.650947,2.878611,Amy Curlew,1.0,9.0,39.0,9.0,4.0,4.0,32.0,2.0,0.0,10.000000,81.250000
9,596.227611,10.793410,Taylor Woods,4.0,42.0,157.0,46.0,2.0,14.0,175.0,5.0,0.0,8.695652,77.339901
8,360.449501,5.605927,Sarah-Eve Coutu Godbout,1.0,42.0,56.0,38.0,2.0,13.0,70.0,1.0,0.0,2.325581,59.574468

In [126]:
# Look at takeaway top players
all_player_by_score_6.sort_values('takeaways', ascending=False, inplace=True)
all_player_by_score_6.head(10)

,play_score_6,game_score_6,Player,goals,shots,plays,incomplete_plays,faceoff_wins,takeaways,puck_recovery,penalty_taken,penalty_draw,goal_rate,play_rate
1,862.925355,12.592320,Breanne Wilson-Bennett,2.0,31.0,95.0,35.0,45.0,25.0,107.0,1.0,0.0,6.060606,73.076923
17,1317.949195,15.143550,Shiann Darkangelo,0.0,36.0,154.0,63.0,79.0,23.0,141.0,5.0,0.0,0.000000,70.967742
15,542.837296,6.487814,Natalie Marcuzzi,0.0,31.0,65.0,37.0,13.0,23.0,90.0,1.0,0.0,0.000000,63.725490
7,643.126596,13.049052,Mikyla Grant-Mentis,5.0,49.0,104.0,44.0,19.0,19.0,102.0,3.0,0.0,9.259259,70.270270
4,655.071177,7.309158,Lindsay Eastwood,1.0,36.0,150.0,70.0,0.0,17.0,152.0,2.0,0.0,2.702703,68.181818
5,344.531748,5.991529,Mackenzie MacNeil,2.0,26.0,47.0,32.0,1.0,15.0,78.0,0.0,0.0,7.142857,59.493671
9,596.227611,10.793410,Taylor Woods,4.0,42.0,157.0,46.0,2.0,14.0,175.0,5.0,0.0,8.695652,77.339901
11,479.022306,3.991568,Emma Greco,0.0,17.0,67.0,59.0,0.0,14.0,117.0,2.0,0.0,0.000000,53.174603
8,360.449501,5.605927,Sarah-Eve Coutu Godbout,1.0,42.0,56.0,38.0,2.0,13.0,70.0,1.0,0.0,2.325581,59.574468
12,322.598425,3.890552,Emma Woods,0.0,28.0,99.0,26.0,0.0,12.0,54.0,0.0,0.0,0.000000,79.200000

For team Toronto Six Specifically, we choose Shiann Darkangelo, Mikyla Grant-Mentis, Breanne Wilson-Bennett, 
Taylor Woods, & Lindsay Eastwood

The reasoning is as follows:

1. Everyone from these 5 people (besides Lindsay) is good at all 4 events (scored top 10 out of all players in Toronto Six). 
2. Lindsay is good at scoring goals, plays, and takeaways. 

Our goal is to find 5 player so that
A. at least three should be excellent goal scorers and at least two should be excellent passers. 
B. at least two faceoff specialists and one takeaway specialist. 
C. It would be especially beneficial if the passers were familiar with the shooting specialists

Now we satisfy conditions A and B, but we haven't looked at C. Let's check whether the players are familiar with each other.

In [129]:
player_list = ['Shiann Darkangelo', 'Mikyla Grant-Mentis', 'Breanne Wilson-Bennett', 'Taylor Woods', 'Lindsay Eastwood']
play_success_rate_dic = {}

In [130]:
for i in range(len(player_list)-1):
    player_1 = player_list[i]
    for j in range(i+1, len(player_list)):
        player_2 = player_list[j]
        filtered_rows_1 = Toronto_6_data[(Toronto_6_data['Player']==player_1) & (Toronto_6_data['Player 2'] == player_2)]
        filtered_rows_2 = Toronto_6_data[(Toronto_6_data['Player']==player_2) & (Toronto_6_data['Player 2'] == player_1)]
        added_df = pd.concat([filtered_rows_1,filtered_rows_2])
        #df1 = added_df['Event'].value_counts()
        #print(df1)
        play_success_rate = added_df['Event'].value_counts(normalize=True)['Play']
        #play_success_rate = df1['Play']/(df1['Play'] + df1['Incomplete Play'])
        #added_df.groupby('Event').size()
        
        dict_key = player_1 + ' VS: ' + player_2
        play_success_rate_dic[dict_key] = play_success_rate

In [131]:
play_success_rate_dic

{'Shiann Darkangelo VS: Mikyla Grant-Mentis': 0.6097560975609756,
 'Shiann Darkangelo VS: Breanne Wilson-Bennett': 0.8461538461538461,
 'Shiann Darkangelo VS: Taylor Woods': 0.9655172413793104,
 'Shiann Darkangelo VS: Lindsay Eastwood': 0.8387096774193549,
 'Mikyla Grant-Mentis VS: Breanne Wilson-Bennett': 0.6666666666666666,
 'Mikyla Grant-Mentis VS: Taylor Woods': 0.8135593220338984,
 'Mikyla Grant-Mentis VS: Lindsay Eastwood': 0.7878787878787878,
 'Breanne Wilson-Bennett VS: Taylor Woods': 0.7333333333333333,
 'Breanne Wilson-Bennett VS: Lindsay Eastwood': 0.6666666666666666,
 'Taylor Woods VS: Lindsay Eastwood': 1.0}

Above is a dictionary which records the play success rate between each pair of players inside the top 5 players we choose from Team Toronto Six. 

We can see that all the success rates are pretty high. We conclude that our 5 top players from Team Toronto Six are very familiar with each other and cooperate  well. 

We have high confidence that these 5 people will also cooperate and perform well in future competitions.

In [132]:
all_player_by_score_6.to_csv('all_player_by_score_6.csv')